In [3]:
l =[1,"l"]
g=(1,'sj')
a=[l,g,2,2.7]

In [ ]:
var1 = ‘ ‘#string
var2 = ‘[ DS , ML , Python]’#string
var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]#list
var4 = 1#int

In [4]:
#for division/
4/2

2.0

In [8]:
5%2#modilus

1

In [11]:
6//3#divison

2

In [12]:
6**3#power

216

In [14]:
l=[1,2,'n','f','n',5,6,7,5.2,9]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
n
<class 'str'>
f
<class 'str'>
n
<class 'str'>
5
<class 'int'>
6
<class 'int'>
7
<class 'int'>
5.2
<class 'float'>
9
<class 'int'>

In [31]:
l=[2,3,4,5,6,7,8,9,4,3,4,3,4,3,6,9,3,69,7,5,8,2,8,9,5,8,5,5,4,3]
for i in l:
   if i%3==0:
    print('the no. divisible by3"')
    print(i)
   else:
        print('the no. not divisible by3"')
        print(i)

the no. not divisible by3"
2
the no. divisible by3"
3
the no. not divisible by3"
4
the no. not divisible by3"
5
the no. divisible by3"
6
the no. not divisible by3"
7
the no. not divisible by3"
8
the no. divisible by3"
9
the no. not divisible by3"
4
the no. divisible by3"
3
the no. not divisible by3"
4
the no. divisible by3"
3
the no. not divisible by3"
4
the no. divisible by3"
3
the no. divisible by3"
6
the no. divisible by3"
9
the no. divisible by3"
3
the no. divisible by3"
69
the no. not divisible by3"
7
the no. not divisible by3"
5
the no. not divisible by3"
8
the no. not divisible by3"
2
the no. not divisible by3"
8
the no. divisible by3"
9
the no. not divisible by3"
5
the no. not divisible by3"
8
the no. not divisible by3"
5
the no. not divisible by3"
5
the no. not divisible by3"
4
the no. divisible by3"
3

0

In [37]:
l=[1,3,2]
l[2]==5#mutable means we can s=change the value
print(l)
as ='nishant'
as[3]==a#immutable means we cannot be change vale

SyntaxError: invalid syntax (3805351251.py, line 4)

In [38]:
my_list = [1, 2, 3]

new_list = my_list

new_list.append(4)

print(my_list)

[1, 2, 3, 4]